<h2>Welcome Back! </h2>
<h3>Log in to see your account: </h3>
<form method="post" action="/users/login">
  <label>Username: </label>
  <input type="text" name="user[username]">
  <label>Password: </label>
  <input type="password" name="user[password]">
  <input type="submit" value="Log In">
</form>
