<h3><a href="/orders/new">Create a new order</a></h3>
<br></br>
<h3>My current orders: </h3>
<ul>
  <%@user.orders.each do |order|%>
  <li><a href="/orders/<%=order.id%>">Order #<%=order.id%></a></li>
  <%end%>
</ul>
