<h1>Welcome Back <%=@user.name%>!</h1>
<a href="/orders/new">Create a new order</a>
<h2>See my current orders: </h2>
<ul>
  <%@user.orders.each do |order|%>
  <li><p>Order #<%=order.id%></p></li>
  <%end%>
</ul>
