<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>
<h1>Welcome! </h1>
<h2>Sign up to make a purchase order: </h2>
<form action="/users/signup" method="post">
  <label>Name: </label>
  <input type="text" name="user[name]">
  <br></br>
  <label>Username: </label>
  <input type="text" name="user[username]">
  <br></br>
  <label>Password: </label>
  <input type="password" name="user[password]">
  <br></br>
  <label>Email: </label>
  <input type="text" name="user[email]">
  <br></br>
  <input type="submit" value="Create Account">
</form>
