<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>
<h1>Welcome to Joe's Gear Shack! </h1>
<h2>The go-to place for your everyday home projects and gardening needs! </h2>
<h2>Returning customers: <a href="/users/login">Log In</a></h2>
<h2>Newcomers - Welcome! <a href="/users/signup">Create an account</a></h2>
